/* ========= HEADER LOGO COM BANDEIRA ========= */

.logo{
  display:flex;
  align-items:center;
  gap:10px;
}

.logo img{
  width:22px;
  height:22px;
  object-fit:contain;
}

/* ========= RODAPÉ ========= */

footer{
  background:#05070b;
  border-top:1px solid #132033;
  color:#aab6c5;
  font-size:11px;
  padding:10px 16px;
  text-align:center;
}

/* Ajuste para o layout não esconder o footer */
.layout{
  height: calc(100vh - 95px);
}
